.dj-megamenu-override {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 500;
  *zoom: 1;
}
.dj-megamenu-override:before,
.dj-megamenu-override:after {
  display: table;
  content: "";
  line-height: 0;
}
.dj-megamenu-override:after {
  clear: both;
}
.dj-megamenu-override li.dj-up {
  float: left;
  margin: 0 0 0 1px;
}
.dj-megamenu-override li.dj-up a.dj-up_a {
  font-size: 15px;
  font-weight: 600;
  display: block;
  padding: 36px 25px;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
}
.dj-megamenu-override li.dj-up a.dj-up_a small.subtitle {
  display: block;
  text-transform: none;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-top: 5px;
}
.dj-megamenu-override li.dj-up.active a.dj-up_a,
.dj-megamenu-override li.dj-up:hover a.dj-up_a,
.dj-megamenu-override li.dj-up.hover a.dj-up_a {
  color: #ffffff;
  background: #364e72;
  outline: 0;
}
.dj-megamenu.hasSubtitles li a.dj-up_a.withsubtitle {
  padding-top: 27.5px;
  padding-bottom: 27.5px;
}
.dj-megamenu-override li.separator > a {
  cursor: default;
}
.dj-megamenu-sticky.dj-megamenu-override {
  margin: 0;
  background: #ffffff;
}
.dj-megamenu-sticky.dj-megamenu-override ul.dj-megamenu-override {
  margin: 0;
}
.dj-megamenu-sticky.dj-megamenu-override li.dj-up a.dj-up_a {
  padding: 27px 20px;
}
.dj-megamenu-sticky.dj-megamenu-override li.dj-up a.dj-up_a.withsubtitle {
  padding: 20.625px 20px;
}
.dj-megamenu-override .dj-stickylogo {
  position: fixed;
}
.dj-megamenu-override .dj-stickylogo.dj-align-center {
  text-align: center;
  margin: 10px;
}
.dj-megamenu-override .dj-stickylogo.dj-align-left {
  text-align: left;
  margin: 10px;
  left: 19%;
  right: auto;
}
.dj-megamenu-override .dj-stickylogo.dj-align-right {
  text-align: right;
  margin: 10px;
  left: auto;
  right: 0;
}
#jm-allpage .dj-megamenu-offcanvas .dj-mobile-open-btn,
#jm-allpage .dj-megamenu-accordion .dj-mobile-open-btn,
#jm-allpage .dj-megamenu-select .dj-mobile-open-btn {
  background: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #444444;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#jm-allpage .dj-megamenu-offcanvas .dj-mobile-open-btn:hover,
#jm-allpage .dj-megamenu-accordion .dj-mobile-open-btn:hover,
#jm-allpage .dj-megamenu-select .dj-mobile-open-btn:hover {
  color: #364e72;
}
#jm-allpage .select-input .dj-select {
  max-width: none;
  margin: 10px 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px;
  vertical-align: middle;
  border: 2px solid #364e72;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #364e72;
  background: #ffffff;
  height: 60px;
  line-height: 60px;
}
select.dj-select {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.dj-megamenu-override li.dj-up:hover,
.dj-megamenu-override li.dj-up.hover,
.dj-megamenu-override .dj-submenu > li:hover,
.dj-megamenu-override .dj-subtree > li:hover {
  position: relative;
  z-index: 200;
}
.dj-megamenu-override li div.dj-subwrap {
  position: absolute;
  left: auto;
  right: auto;
  top: -9999px;
  visibility: hidden;
}
.dj-megamenu-override li:hover div.dj-subwrap,
.dj-megamenu-override li.hover div.dj-subwrap {
  left: 0;
  right: auto;
  top: 100%;
  visibility: visible;
  z-index: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-megamenu-override li:hover div.dj-subwrap div.dj-subwrap-in,
.dj-megamenu-override li.hover div.dj-subwrap div.dj-subwrap-in {
  background: #364e72;
}
.dj-megamenu-override li:hover div.dj-subwrap div.dj-subwrap,
.dj-megamenu-override li.hover div.dj-subwrap div.dj-subwrap {
  left: 100%;
  right: auto;
  top: -15px;
  z-index: 400;
  border-top: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.dj-megamenu-override .dj-subcol {
  float: left;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-megamenu-override .multiple_cols .dj-subcol + .dj-subcol:after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dj-megamenu-override .dj-submenu,
.dj-megamenu-override .dj-subtree {
  margin: -5px 0 0;
}
.dj-megamenu-override .dj-submenu > li,
.dj-megamenu-override .dj-subtree > li {
  display: block;
  position: relative;
  background: none;
  padding: 0 20px;
  color: #ffffff;
}
.dj-megamenu-override .dj-submenu > li > a,
.dj-megamenu-override .dj-subtree > li > a {
  color: #ffffff;
  display: block;
  font-size: 15px;
  line-height: 1.8;
  text-decoration: none;
  padding: 5px 0;
}
.dj-megamenu-override .dj-submenu > li > a small.subtitle,
.dj-megamenu-override .dj-subtree > li > a small.subtitle {
  display: block;
  font-size: 11px;
}
.dj-megamenu-override .dj-submenu > li:hover > a,
.dj-megamenu-override .dj-subtree > li:hover > a,
.dj-megamenu-override .dj-submenu > li.hover > a,
.dj-megamenu-override .dj-subtree > li.hover > a,
.dj-megamenu-override .dj-submenu > li.active > a,
.dj-megamenu-override .dj-subtree > li.active > a {
  color: #89a2c7;
}
.dj-megamenu-override .dj-submenu > li.parent > a,
.dj-megamenu-override .dj-subtree > li.parent > a {
  position: relative;
  padding-right: 20px;
}
.dj-megamenu-override .dj-submenu > li.parent > a:after,
.dj-megamenu-override .dj-subtree > li.parent > a:after {
  content: '+';
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  right: 5px;
  left: auto;
}
.dj-megamenu-override li.dj-up a span.image-title {
  margin: 0 0 0 15px;
  display: inline-block;
  vertical-align: middle;
}
.dj-megamenu-override li > a > img {
  vertical-align: middle;
}
.dj-megamenu-override .dj-subtree {
  list-style: none outside;
  padding: 0 !important;
  margin: 0 !important;
}
.dj-megamenu-override .dj-subtree > li {
  list-style: none outside;
  padding: 0 0 0 10px;
  margin: 0;
}
.dj-megamenu-override .dj-subtree > li > a {
  border: none;
}
.dj-megamenu-override .dj-subtree > li > a:before {
  content: '\203A';
  margin-top: -1px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 0;
}
.dj-megamenu-override .dj-subtree > li > a small.subtitle {
  display: block;
  font-size: 0.9em;
  line-height: 1;
}
.dj-megamenu-override .modules-wrap p {
  display: block;
  padding: 0;
}
.dj-megamenu-override .modules-wrap .moduletable {
  clear: both;
  position: relative;
  margin: 0 0 20px;
}
.dj-megamenu-override .modules-wrap .moduletable:first-child {
  margin: 0;
}
.dj-megamenu-override .modules-wrap .moduletable > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
