.fsize70 {
  font-size: 9.800000000000001px;
}
.fsize70 .jm-module .jm-title {
  font-size: 14px;
}
.fsize70 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 10.5px;
}
.fsize70 .dj-megamenu-override .dj-submenu > li > a,
.fsize70 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 10.5px;
}
.fsize70 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 10.5px;
}
.fsize70 .nav.menu li a,
.fsize70 .nav.menu li span.separator {
  font-size: 9.800000000000001px;
}
.fsize70 dl.article-info {
  font-size: 8.33px;
}
.fsize70 h1 {
  font-size: 26.95px;
}
.fsize70 h2 {
  font-size: 22.05px;
}
.fsize70 h3 {
  font-size: 17.15px;
}
.fsize70 h4 {
  font-size: 12.25px;
}
.fsize70 h5 {
  font-size: 9.800000000000001px;
}
.fsize70 h6 {
  font-size: 8.33px;
}
.fsize70 h1.componentheading,
.fsize70 .tag-category > h1,
.fsize70 .page-header > h1,
.fsize70 .content-category > h1,
.fsize70 .categories-list > h1,
.fsize70 .blog-featured > h1,
.fsize70 .contact-category > h1,
.fsize70 .contact > h1,
.fsize70 .newsfeed-category > h1,
.fsize70 h1.page-title,
.fsize70 .finder > h1,
.fsize70 .weblink-category > h1,
.fsize70 .edit > h1,
.fsize70 .blog > h2 {
  font-size: 22.4px;
}
.fsize70 h2.item-title,
.fsize70 .page-header > h2,
.fsize70 .content-category > h2,
.fsize70 .cat-children > h3,
.fsize70 .contact-category > h2,
.fsize70 .weblink-category > h2,
.fsize70 .newsfeed > h2,
.fsize70 .newsfeed-category > h2,
.fsize70 .weblink-category > h2,
.fsize70 .contact > h3 {
  font-size: 22.4px;
}
.fsize70 #jm-allpage .contact-ps > h3:first-child {
  font-size: 22.4px;
}
.fsize70 legend,
.fsize70 label,
.fsize70 input,
.fsize70 select,
.fsize70 textarea {
  font-size: 9.800000000000001px;
}
.fsize70 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 17.5px;
}
.fsize70 .btn,
.fsize70 a.button,
.fsize70 input.button,
.fsize70 button.button {
  font-size: 9.800000000000001px;
}
.fsize70 p.readmore .btn {
  font-size: 9.800000000000001px;
}
.fsize70 .accordion-heading,
.fsize70 .pane-sliders h3.title {
  font-size: 11.2px;
}
.fsize70 .nav-tabs > li > a,
.fsize70 dl.tabs > dt a {
  font-size: 11.2px;
}
.fsize70 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 11.2px;
}
.fsize70 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 11.2px;
}
.fsize70 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 29.12px;
}
.fsize70 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 22.4px;
}
.fsize70 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 29.12px;
}
.fsize70 .jm-tabhome .box .jm-label {
  font-size: 12.6px;
}
.fsize70 .jm-module.promo1-ms,
.fsize70 .jm-module.promo2-ms,
.fsize70 .jm-module.promo3-ms,
.fsize70 .jm-module.promo4-ms {
  font-size: 12.6px;
}
.fsize70 .jm-footer-contact .jm-promotext {
  font-size: 14px;
}
.fsize70 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 9.1px;
}
.fsize70 .dj-slide-desc-text {
  font-size: 9.800000000000001px !important;
}
.fsize70 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize70 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 11.2px !important;
}
.fsize70 #jm-maincontent {
  font-size: 9.800000000000001px;
}
.fsize80 {
  font-size: 11.2px;
}
.fsize80 .jm-module .jm-title {
  font-size: 16px;
}
.fsize80 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 12px;
}
.fsize80 .dj-megamenu-override .dj-submenu > li > a,
.fsize80 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 12px;
}
.fsize80 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 12px;
}
.fsize80 .nav.menu li a,
.fsize80 .nav.menu li span.separator {
  font-size: 11.2px;
}
.fsize80 dl.article-info {
  font-size: 9.52px;
}
.fsize80 h1 {
  font-size: 30.8px;
}
.fsize80 h2 {
  font-size: 25.2px;
}
.fsize80 h3 {
  font-size: 19.6px;
}
.fsize80 h4 {
  font-size: 14px;
}
.fsize80 h5 {
  font-size: 11.2px;
}
.fsize80 h6 {
  font-size: 9.52px;
}
.fsize80 h1.componentheading,
.fsize80 .tag-category > h1,
.fsize80 .page-header > h1,
.fsize80 .content-category > h1,
.fsize80 .categories-list > h1,
.fsize80 .blog-featured > h1,
.fsize80 .contact-category > h1,
.fsize80 .contact > h1,
.fsize80 .newsfeed-category > h1,
.fsize80 h1.page-title,
.fsize80 .finder > h1,
.fsize80 .weblink-category > h1,
.fsize80 .edit > h1,
.fsize80 .blog > h2 {
  font-size: 25.6px;
}
.fsize80 h2.item-title,
.fsize80 .page-header > h2,
.fsize80 .content-category > h2,
.fsize80 .cat-children > h3,
.fsize80 .contact-category > h2,
.fsize80 .weblink-category > h2,
.fsize80 .newsfeed > h2,
.fsize80 .newsfeed-category > h2,
.fsize80 .weblink-category > h2,
.fsize80 .contact > h3 {
  font-size: 25.6px;
}
.fsize80 #jm-allpage .contact-ps > h3:first-child {
  font-size: 25.6px;
}
.fsize80 legend,
.fsize80 label,
.fsize80 input,
.fsize80 select,
.fsize80 textarea {
  font-size: 11.2px;
}
.fsize80 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 20px;
}
.fsize80 .btn,
.fsize80 a.button,
.fsize80 input.button,
.fsize80 button.button {
  font-size: 11.2px;
}
.fsize80 p.readmore .btn {
  font-size: 11.2px;
}
.fsize80 .accordion-heading,
.fsize80 .pane-sliders h3.title {
  font-size: 12.8px;
}
.fsize80 .nav-tabs > li > a,
.fsize80 dl.tabs > dt a {
  font-size: 12.8px;
}
.fsize80 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 12.8px;
}
.fsize80 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 12.8px;
}
.fsize80 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 33.28px;
}
.fsize80 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 25.6px;
}
.fsize80 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 33.28px;
}
.fsize80 .jm-tabhome .box .jm-label {
  font-size: 14.4px;
}
.fsize80 .jm-module.promo1-ms,
.fsize80 .jm-module.promo2-ms,
.fsize80 .jm-module.promo3-ms,
.fsize80 .jm-module.promo4-ms {
  font-size: 14.4px;
}
.fsize80 .jm-footer-contact .jm-promotext {
  font-size: 16px;
}
.fsize80 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 10.4px;
}
.fsize80 .dj-slide-desc-text {
  font-size: 11.2px !important;
}
.fsize80 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize80 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 12.8px !important;
}
.fsize80 #jm-maincontent {
  font-size: 11.2px;
}
.fsize90 {
  font-size: 12.6px;
}
.fsize90 .jm-module .jm-title {
  font-size: 18px;
}
.fsize90 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 13.5px;
}
.fsize90 .dj-megamenu-override .dj-submenu > li > a,
.fsize90 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 13.5px;
}
.fsize90 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 13.5px;
}
.fsize90 .nav.menu li a,
.fsize90 .nav.menu li span.separator {
  font-size: 12.6px;
}
.fsize90 dl.article-info {
  font-size: 10.71px;
}
.fsize90 h1 {
  font-size: 34.65px;
}
.fsize90 h2 {
  font-size: 28.35px;
}
.fsize90 h3 {
  font-size: 22.05px;
}
.fsize90 h4 {
  font-size: 15.75px;
}
.fsize90 h5 {
  font-size: 12.6px;
}
.fsize90 h6 {
  font-size: 10.71px;
}
.fsize90 h1.componentheading,
.fsize90 .tag-category > h1,
.fsize90 .page-header > h1,
.fsize90 .content-category > h1,
.fsize90 .categories-list > h1,
.fsize90 .blog-featured > h1,
.fsize90 .contact-category > h1,
.fsize90 .contact > h1,
.fsize90 .newsfeed-category > h1,
.fsize90 h1.page-title,
.fsize90 .finder > h1,
.fsize90 .weblink-category > h1,
.fsize90 .edit > h1,
.fsize90 .blog > h2 {
  font-size: 28.8px;
}
.fsize90 h2.item-title,
.fsize90 .page-header > h2,
.fsize90 .content-category > h2,
.fsize90 .cat-children > h3,
.fsize90 .contact-category > h2,
.fsize90 .weblink-category > h2,
.fsize90 .newsfeed > h2,
.fsize90 .newsfeed-category > h2,
.fsize90 .weblink-category > h2,
.fsize90 .contact > h3 {
  font-size: 28.8px;
}
.fsize90 #jm-allpage .contact-ps > h3:first-child {
  font-size: 28.8px;
}
.fsize90 legend,
.fsize90 label,
.fsize90 input,
.fsize90 select,
.fsize90 textarea {
  font-size: 12.6px;
}
.fsize90 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 22.5px;
}
.fsize90 .btn,
.fsize90 a.button,
.fsize90 input.button,
.fsize90 button.button {
  font-size: 12.6px;
}
.fsize90 p.readmore .btn {
  font-size: 12.6px;
}
.fsize90 .accordion-heading,
.fsize90 .pane-sliders h3.title {
  font-size: 14.4px;
}
.fsize90 .nav-tabs > li > a,
.fsize90 dl.tabs > dt a {
  font-size: 14.4px;
}
.fsize90 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 14.4px;
}
.fsize90 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 14.4px;
}
.fsize90 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 37.44px;
}
.fsize90 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 28.8px;
}
.fsize90 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 37.44px;
}
.fsize90 .jm-tabhome .box .jm-label {
  font-size: 16.2px;
}
.fsize90 .jm-module.promo1-ms,
.fsize90 .jm-module.promo2-ms,
.fsize90 .jm-module.promo3-ms,
.fsize90 .jm-module.promo4-ms {
  font-size: 16.2px;
}
.fsize90 .jm-footer-contact .jm-promotext {
  font-size: 18px;
}
.fsize90 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 11.7px;
}
.fsize90 .dj-slide-desc-text {
  font-size: 12.6px !important;
}
.fsize90 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize90 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 14.4px !important;
}
.fsize90 #jm-maincontent {
  font-size: 12.6px;
}
.fsize110 {
  font-size: 15.4px;
}
.fsize110 .jm-module .jm-title {
  font-size: 22px;
}
.fsize110 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 16.5px;
}
.fsize110 .dj-megamenu-override .dj-submenu > li > a,
.fsize110 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 16.5px;
}
.fsize110 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 16.5px;
}
.fsize110 .nav.menu li a,
.fsize110 .nav.menu li span.separator {
  font-size: 15.4px;
}
.fsize110 dl.article-info {
  font-size: 13.09px;
}
.fsize110 h1 {
  font-size: 42.35px;
}
.fsize110 h2 {
  font-size: 34.65px;
}
.fsize110 h3 {
  font-size: 26.95px;
}
.fsize110 h4 {
  font-size: 19.25px;
}
.fsize110 h5 {
  font-size: 15.4px;
}
.fsize110 h6 {
  font-size: 13.09px;
}
.fsize110 h1.componentheading,
.fsize110 .tag-category > h1,
.fsize110 .page-header > h1,
.fsize110 .content-category > h1,
.fsize110 .categories-list > h1,
.fsize110 .blog-featured > h1,
.fsize110 .contact-category > h1,
.fsize110 .contact > h1,
.fsize110 .newsfeed-category > h1,
.fsize110 h1.page-title,
.fsize110 .finder > h1,
.fsize110 .weblink-category > h1,
.fsize110 .edit > h1,
.fsize110 .blog > h2 {
  font-size: 35.2px;
}
.fsize110 h2.item-title,
.fsize110 .page-header > h2,
.fsize110 .content-category > h2,
.fsize110 .cat-children > h3,
.fsize110 .contact-category > h2,
.fsize110 .weblink-category > h2,
.fsize110 .newsfeed > h2,
.fsize110 .newsfeed-category > h2,
.fsize110 .weblink-category > h2,
.fsize110 .contact > h3 {
  font-size: 35.2px;
}
.fsize110 #jm-allpage .contact-ps > h3:first-child {
  font-size: 35.2px;
}
.fsize110 legend,
.fsize110 label,
.fsize110 input,
.fsize110 select,
.fsize110 textarea {
  font-size: 15.4px;
}
.fsize110 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 27.5px;
}
.fsize110 .btn,
.fsize110 a.button,
.fsize110 input.button,
.fsize110 button.button {
  font-size: 15.4px;
}
.fsize110 p.readmore .btn {
  font-size: 15.4px;
}
.fsize110 .accordion-heading,
.fsize110 .pane-sliders h3.title {
  font-size: 17.6px;
}
.fsize110 .nav-tabs > li > a,
.fsize110 dl.tabs > dt a {
  font-size: 17.6px;
}
.fsize110 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 17.6px;
}
.fsize110 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 17.6px;
}
.fsize110 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 45.76px;
}
.fsize110 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 35.2px;
}
.fsize110 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 45.76px;
}
.fsize110 .jm-tabhome .box .jm-label {
  font-size: 19.8px;
}
.fsize110 .jm-module.promo1-ms,
.fsize110 .jm-module.promo2-ms,
.fsize110 .jm-module.promo3-ms,
.fsize110 .jm-module.promo4-ms {
  font-size: 19.8px;
}
.fsize110 .jm-footer-contact .jm-promotext {
  font-size: 22px;
}
.fsize110 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 14.3px;
}
.fsize110 .dj-slide-desc-text {
  font-size: 15.4px !important;
}
.fsize110 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize110 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 17.6px !important;
}
.fsize110 #jm-maincontent {
  font-size: 16.8px;
}
.fsize120 {
  font-size: 16.8px;
}
.fsize120 .jm-module .jm-title {
  font-size: 24px;
}
.fsize120 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 18px;
}
.fsize120 .dj-megamenu-override .dj-submenu > li > a,
.fsize120 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 18px;
}
.fsize120 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 18px;
}
.fsize120 .nav.menu li a,
.fsize120 .nav.menu li span.separator {
  font-size: 16.8px;
}
.fsize120 dl.article-info {
  font-size: 14.28px;
}
.fsize120 h1 {
  font-size: 46.2px;
}
.fsize120 h2 {
  font-size: 37.8px;
}
.fsize120 h3 {
  font-size: 29.4px;
}
.fsize120 h4 {
  font-size: 21px;
}
.fsize120 h5 {
  font-size: 16.8px;
}
.fsize120 h6 {
  font-size: 14.28px;
}
.fsize120 h1.componentheading,
.fsize120 .tag-category > h1,
.fsize120 .page-header > h1,
.fsize120 .content-category > h1,
.fsize120 .categories-list > h1,
.fsize120 .blog-featured > h1,
.fsize120 .contact-category > h1,
.fsize120 .contact > h1,
.fsize120 .newsfeed-category > h1,
.fsize120 h1.page-title,
.fsize120 .finder > h1,
.fsize120 .weblink-category > h1,
.fsize120 .edit > h1,
.fsize120 .blog > h2 {
  font-size: 38.4px;
}
.fsize120 h2.item-title,
.fsize120 .page-header > h2,
.fsize120 .content-category > h2,
.fsize120 .cat-children > h3,
.fsize120 .contact-category > h2,
.fsize120 .weblink-category > h2,
.fsize120 .newsfeed > h2,
.fsize120 .newsfeed-category > h2,
.fsize120 .weblink-category > h2,
.fsize120 .contact > h3 {
  font-size: 38.4px;
}
.fsize120 #jm-allpage .contact-ps > h3:first-child {
  font-size: 38.4px;
}
.fsize120 legend,
.fsize120 label,
.fsize120 input,
.fsize120 select,
.fsize120 textarea {
  font-size: 16.8px;
}
.fsize120 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 30px;
}
.fsize120 .btn,
.fsize120 a.button,
.fsize120 input.button,
.fsize120 button.button {
  font-size: 16.8px;
}
.fsize120 p.readmore .btn {
  font-size: 16.8px;
}
.fsize120 .accordion-heading,
.fsize120 .pane-sliders h3.title {
  font-size: 19.2px;
}
.fsize120 .nav-tabs > li > a,
.fsize120 dl.tabs > dt a {
  font-size: 19.2px;
}
.fsize120 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 19.2px;
}
.fsize120 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 19.2px;
}
.fsize120 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 49.92px;
}
.fsize120 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 38.4px;
}
.fsize120 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 49.92px;
}
.fsize120 .jm-tabhome .box .jm-label {
  font-size: 21.6px;
}
.fsize120 .jm-module.promo1-ms,
.fsize120 .jm-module.promo2-ms,
.fsize120 .jm-module.promo3-ms,
.fsize120 .jm-module.promo4-ms {
  font-size: 21.6px;
}
.fsize120 .jm-footer-contact .jm-promotext {
  font-size: 24px;
}
.fsize120 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 15.6px;
}
.fsize120 .dj-slide-desc-text {
  font-size: 16.8px !important;
}
.fsize120 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize120 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 19.2px !important;
}
.fsize120 #jm-maincontent {
  font-size: 21px;
}
.fsize130 {
  font-size: 18.2px;
}
.fsize130 .jm-module .jm-title {
  font-size: 26px;
}
.fsize130 .dj-megamenu li.dj-up a.dj-up_a {
  font-size: 19.5px;
}
.fsize130 .dj-megamenu-override .dj-submenu > li > a,
.fsize130 .dj-megamenu-override .dj-subtree > li > a {
  font-size: 19.5px;
}
.fsize130 .dj-megamenu-override .modules-wrap .moduletable > h3 {
  font-size: 19.5px;
}
.fsize130 .nav.menu li a,
.fsize130 .nav.menu li span.separator {
  font-size: 18.2px;
}
.fsize130 dl.article-info {
  font-size: 15.47px;
}
.fsize130 h1 {
  font-size: 50.05px;
}
.fsize130 h2 {
  font-size: 40.95px;
}
.fsize130 h3 {
  font-size: 31.85px;
}
.fsize130 h4 {
  font-size: 22.75px;
}
.fsize130 h5 {
  font-size: 18.2px;
}
.fsize130 h6 {
  font-size: 15.47px;
}
.fsize130 h1.componentheading,
.fsize130 .tag-category > h1,
.fsize130 .page-header > h1,
.fsize130 .content-category > h1,
.fsize130 .categories-list > h1,
.fsize130 .blog-featured > h1,
.fsize130 .contact-category > h1,
.fsize130 .contact > h1,
.fsize130 .newsfeed-category > h1,
.fsize130 h1.page-title,
.fsize130 .finder > h1,
.fsize130 .weblink-category > h1,
.fsize130 .edit > h1,
.fsize130 .blog > h2 {
  font-size: 41.6px;
}
.fsize130 h2.item-title,
.fsize130 .page-header > h2,
.fsize130 .content-category > h2,
.fsize130 .cat-children > h3,
.fsize130 .contact-category > h2,
.fsize130 .weblink-category > h2,
.fsize130 .newsfeed > h2,
.fsize130 .newsfeed-category > h2,
.fsize130 .weblink-category > h2,
.fsize130 .contact > h3 {
  font-size: 41.6px;
}
.fsize130 #jm-allpage .contact-ps > h3:first-child {
  font-size: 41.6px;
}
.fsize130 legend,
.fsize130 label,
.fsize130 input,
.fsize130 select,
.fsize130 textarea {
  font-size: 18.2px;
}
.fsize130 #jm-top-bar .search-ms .search input#mod-search-searchword {
  height: 32.5px;
}
.fsize130 .btn,
.fsize130 a.button,
.fsize130 input.button,
.fsize130 button.button {
  font-size: 18.2px;
}
.fsize130 p.readmore .btn {
  font-size: 18.2px;
}
.fsize130 .accordion-heading,
.fsize130 .pane-sliders h3.title {
  font-size: 20.8px;
}
.fsize130 .nav-tabs > li > a,
.fsize130 dl.tabs > dt a {
  font-size: 20.8px;
}
.fsize130 #jm-allpage .djtabs.default-theme .djtabs-title {
  font-size: 20.8px;
}
.fsize130 #jm-allpage .djtabs.default-theme .djtabs-panel .djtabs-panel-title {
  font-size: 20.8px;
}
.fsize130 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel span {
  line-height: 54.08px;
}
.fsize130 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-title {
  font-size: 41.6px;
}
.fsize130 #jm-allpage .djtabs.default-theme .type-article .djtabs-panel-date {
  line-height: 54.08px;
}
.fsize130 .jm-tabhome .box .jm-label {
  font-size: 23.4px;
}
.fsize130 .jm-module.promo1-ms,
.fsize130 .jm-module.promo2-ms,
.fsize130 .jm-module.promo3-ms,
.fsize130 .jm-module.promo4-ms {
  font-size: 23.4px;
}
.fsize130 .jm-footer-contact .jm-promotext {
  font-size: 26px;
}
.fsize130 .jm-footer-contact .jm-promotext .jm-label {
  font-size: 16.9px;
}
.fsize130 .dj-slide-desc-text {
  font-size: 18.2px !important;
}
.fsize130 #jm-allpage .header-ms .djslider-loader .dj-slide-desc-text,
.fsize130 #jm-allpage .header-ms .dj-mslider .dj-slide-desc-text {
  font-size: 20.8px !important;
}
.fsize130 #jm-maincontent {
  font-size: 28px;
}
