# User name for SIRI system, from ministry of transport (RequestorRef)
siri_user = SIRIUSER

# List of stop codes to query
# This should be a csv file, and the title of the stop code column should be stop_code.
# All other columns will be ignored. see data/stop_code_sample.csv
stops_file = FILENAME

# Route_id from gtfs, if you only want to query a single bus line
# Leave empty to query all the buses stopping in each station
route_id =

# Whether to use proxy
use_proxy = False

# proxy url, ignored if use_proxy=False
# http://openbus@192.241.154.128:5035 is open train server
proxy_url = http://openbus@192.241.154.128:5035

# Write the results to a file rather than to db
write_results_to_file = False

# db connection parameters, ignored if write_results_to_file = True
db_host = localhost
db_port = 5432
db_name = obus
db_user = DBUSER
db_password = PASSWORD


# Name of the file to write results to,ignored if write_results_to_file = False
output_filename = arrivals.csv